.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-card .card-section {
  padding: 10px 20px;
  width: 250px;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-card .card-section-first {
  padding: 10px 20px;
  width: 250px;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left-color: black;
  border-right-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-section {
  padding: 10px 20px;
  width: 250px;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right-color: black;
  text-align: center;
  font-size: large;
  font-weight: 700;
}

.header-section-last {
  padding: 10px 20px;
  width: 250px;
  text-align: center;
  font-size: large;
  font-weight: 700;
}

.list-card {
  display: flex;
}

.list-card:hover {
  background-color: black;
  color: white;
}