* {
  box-sizing: border-box;
}

body { 
  min-height: 100vh;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root {
  margin: 0px;
  padding: 0;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.icon {
  position: absolute;
  width: 40px !important;
  height: 40px !important;
  top: 5px;
  left: 5px;
}

.controls {
  display: flex;
}

.icon-edit {
  position: absolute;
  width: 35px !important;
  height: 35px !important;
  bottom: 5px;
  left: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  text-align: center;
  justify-content: center;
  height: 100%;
  background: #ffffff;
  overflow: auto;
  text-align:justify;
}

.main::-webkit-scrollbar {
  display: none;
}

.catalog {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card img {
  border-radius: 10px;
  width: auto;
  height: 100%;
}

.login-page {
  display: flex;
  background-color: rgb(3, 0, 12);
}

.login-page-element {
  height: 100vh;
  text-align:center;
  float: right;
  position: relative;
}

.login-page-image {
  height: 100%;
  width: 100%;
  border-top-left-radius: 45%;
}

.login-page-element .image-title {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}

.image-title h1 .black-part {
  font-weight: 900;
  font-size: 80px;
  color: black;
}


.image-title h1 .white-part {
  font-weight: 700;
  font-size: 64px;
  color: rgb(255, 255, 255);
}

.login-form {
  padding: 25% 3rem;
}

.login-form form {
  height: 50%;
}

.login-form .form-title h2 {
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.form-title .link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.form-title .link:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.form-title h3 {
  font-weight: 500;
  font-size: 24px;
  color: rgb(117, 117, 209);
}

.form-title h2 {
  font-weight: 500;
  font-size: 48px;
  color: rgb(255, 255, 255);
}

.form-title h5 {
  font-weight: 500;
  font-size: 16px;
  color: rgb(117, 117, 209);
}

.form-group-edit {
  display: flex;
  flex-direction: column-reverse;
  padding: '30px';
}

.form-group label {
  font-weight: 500;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.form-group-edit label {
  font-weight: 500;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.form-group-add label {
  font-weight: 500;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.form-group button {
  color: black;
  font-weight: 500;
  font-size: 18px;
  background-color: white;
  border-color: darkgray;
}

.form-group button:hover {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 18px;
  background-color: rgb(117, 117, 209);
  border-color: rgb(24, 1, 78);
}

.catalog-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.catalog-header .catalog-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-header .catalog-title span {
  font-size: 28px;
  font-weight: 700;
  margin-left: 15px;
  color: white;
}

.catalog-header .catalog-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.catalog-header .catalog-user span{
  margin-left: 15px;
  color: white;
}

.search-field {
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.search {
  width: 30%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 0;
}

.edit {
  font-size: 1rem;
  width: 600px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 0;
}

.add {
  font-size: 1rem;
  width: 400px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 0;
}

.edit-page {
  display: flex;

  flex: 1;
  justify-content: space-around;
}

.edit-page .card {
  height: 25rem;
  width: 40rem;
  margin: 0.5rem;
  border: 0ch !important;
  position: relative;
}
